jobs:
  test:
  needs: test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore -c Release

      - name: Test
        run: dotnet test --no-build -c Release


name: Publish Docker image

on:
    push:
        branches:
            - '**'
    pull_request:
        branches:
            - main   
jobs:
    build:
        runs-on: ubuntu-latest
    
        steps:
            - name: Checkout repo
              uses: actions/checkout@v4
        
            - name: Login to DockerHub
              if: github.ref == 'refs/heads/main'
              uses: docker/login-action@v3
              with:
                username: ${{ secrets.DOCKER_USERNAME }}
                password: ${{ secrets.DOCKER_PASSWORD }}

            - name: Build and push Docker image
              uses: docker/build-push-action@v5
              with:
                context: .
                push: true
                tags: jdstanford/personnummer-checker:latest
